<h1 class="form-heading">Admin Login</h1>
<div class="container">
    <form action="/admin/login" method="post" class="form">
        <input type="email" name="email"  placeholder="enter your email" required>
        <input type="password" name="password" placeholder="enter your password" required>
        <input type="submit">
    </form>
</div>
 