<h1 class="form-heading">Welcome To Admin</h1>

<div class="container">
    <button class="portal-btn"><a href="/admin/new-employee">Create New Employees</a></button>
    <button class="portal-btn"><a href="/admin/Employee-List">Get All Employees And performances</a></button>
 </div>
 