
<h1>Sign In</h1>
<form action="/signin" method="post" style="margin-top: 1rem; ">
    <input type="email" name="email"  placeholder="enter your email" required>
    <input type="password" name="password" placeholder="enter your password" required>
    <input type="submit">
</form>