<div class="container">
    <button class="portal-btn"><a href="/admin-portal">Admin Portal</a></button>
    <button class="portal-btn"><a href="/employee-portal">Employee Portal</a></button>
 </div>
 